<div class="page-container">
  <h2>Contact Me</h2>
  <p>
    I am always open to new opportunities and collaborations. If you would like to get in touch, please feel free to reach out to me through any of the following channels:
  </p>
  <ul>
    <li>Email: <a href="mailto:philip.ashenkov&#64;gmail.com">philpashenko&#64;gmail.com</a></li>
    <li>LinkedIn: <a href="https://linkedin.com/in/philip-pashenkov-8891651a1" target="_blank" rel="noopener noreferrer">linkedin.com/in/philip-pashenkov-8891651a1</a></li>
    <li>GitHub: <a href="https://github.com/philpashenkov" target="_blank" rel="noopener noreferrer">github.com/philpashenkov</a></li>
  </ul>
</div>
